html,
body {
  margin: 0;
  padding: 0;

  font-family: Inter, sans-serif;
}

* {
  box-sizing: border-box;
}

:root {
  /* ========== Colors ========== */
  --gray: #F3F4F6;
  --primary: #5D5FEF;
  --white: #FFF;
  --light: #6B7280;
  --light-blue: #F0F9FF;

  /* ========= Font Size ========= */
  --large: 36px;
  --medium: 14px;
  --small: 12px;

  /* ======== Font weight ======== */
  --font-light: 400;
  --font-medium: 500;
  --font-bold: 800;

  /* =========== Other ===========  */
  --borderMargin-top: 30px;
  --switchHeight: 38px;
}
